<table>
  <% position.each.with_index do |position_row, row_index| %>
    <tr>
      <% position_row.each_char.with_index do |piece, index| %>
        <td height="45" width="45" class="<%= square_colour(row_index + index) %>">
          <%= image_tag "/pieces/Chess_#{piece_glyph(piece)}45.svg", skip_pipeline: true unless piece == ' ' %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
